<template>
    <div class="error">
        {{ errorText }}
    </div>
</template>

<script>
    import Vue from 'vue';

    export default Vue.component('Error', {
        data() {
            return {}
        },
        props: ['errorText'],
    });
</script>