<template>
    <div class="users-list">
        <ul class="users-list__list" v-if="!showError" >
            <li class="users-list__item" v-bind:key="index" v-for="(user, index) in usersList">
                <span>{{user.firstName}}</span>
            </li>
        </ul>

        <Error  
            v-if="showError" 
            :errorText="error"
            />
    </div>
</template>

<script>
    import Vue from 'vue';
    import API from '../../apiURLs';
    import Error from '../Error/Error.vue';
    
    export default Vue.component('UsersList', {
        data () {
            return {
                usersList: {},
                showError: false,
                error: '',
            }
        },

        mounted: function() {
            this.getUsersList();
        },

        methods: {
            getUsersList: async function(params) {
                params = params || {};

                let getUsersListResult = await fetch(
                    API.USERS.GET,   
                    {
                        method: 'POST',
                        body: params,
                    }
                )
                    .then( res => res.json() );
                    
                if( getUsersListResult.result == 'success' && getUsersListResult.info ) {
                    this.usersList = getUsersListResult.info;
                } else {
                    this.showError = true;
                    this.error = 'Не удалось получить список пользователей';
                }                
            }
        }
    });
</script>