<template>
    <div class="root">
        <UsersList />
    </div>
</template>

<script>
    import UsersList from '../UserList/UserList.vue';

    export default {
        data() {
            return {}
        }
    }
</script>